<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="/">Back</a></h1>
  <div>
    <h2><%= info.title %></h2>
    <p><%= info.article %></p>
    <a href="/edit/article/<%= info._id %>">edit</a>
    <a href="/delete-article/<%= info._id %>">delete</a>
  </div>
</body>
</html>