<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>The New York Times <a href="/new/article">Add a new article</a></h1>
  <% if(post.length > 0) {%>
     <% post.forEach(post => {%>
      <div>
        <h2><a href="/article/<%= post._id %>"><%= post.title %></a></h2>
        <p><%= post.article %></p>
      </div>
      <hr>
      <% }) %>
    <% } else { %>
    <p>no post to show</p>
    <% } %>
</body>
</html>